/* // Here we add background image, color and some styling */

body {
    background-image: url("assets/kindpng_1298478.jpg");
    background-color: ghostwhite;
    background-repeat: no-repeat;
    background-size: auto;
}

