body {
    background-image: url("assets/about_us_background.jpg");
    background: no-repeat;
    background-size: cover;
    }
    .sidenav {
        color: black;
    }
    
#nav-text {
    white-space: nowrap;
}
